.navbar {
    background-color:#fff;
    font-size: 20px;
    font-family: 'Bitter', serif;

}

h2, h4 {
    color: #2b2b2b;
}

i {
    margin-right: 10px;
}

/* .ml-auto {
    color: white;
    margin-top: 40px;
} */
/* .NavbarBrand {
    
} */


